.author
  color: $meta_color
  font-size: 0.8em
  margin-top: 0

.flash
  +border-radius(0.4em)
  background-color: #321401
  background-color: rgba(0,0,0,0.4)
  font-weight: bold
  text-align: center
  margin: 1em 0 0.5em 0
  padding: ($spacing / 2) $spacing
.notice
  background-color: $success_color * 3
  color: $success_color

.pagination
  text-align: center

.subtitle
  margin-top: 0

.splitcontentleft, .splitcontentright
  width: 48%
.splitcontentleft
  float: left
.splitcontentright
  float: right
