@import 'mixins/border-radius'
@import 'mixins/box-shadow'
@import 'mixins/navigation-list'
@import 'mixins/outside-content'

$spacing: 12px
$content_width: 73%
$outside_border_radius: 7px

body
  background: #55555c
  color: #333333
  font-family: helvetica, 'helvetica neue', arial, sans-serif
  font-size: 76%
  line-height: 1.6em

#top-menu
  +outside_content
  overflow: hidden
  #account
    float: right
  #loggedas
    float: right
  ul
    +navigation_list

#header
  +border_radius($outside_border_radius $outside_border_radius 0 0)
  background-color: #DBDBDF
  background-image: -moz-linear-gradient(center top , #DBDBDF, #CBCBCF)
  border-bottom: 1px solid #BBBBBB
  margin: $spacing 0 0 0
  padding: $spacing 0
  width: $content_width
  h1
    font-size: 1.96em
    letter-spacing: -1px
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9)
  #main-menu
    ul
      +navigation_list
      margin-left: -$spacing/2
  #quick-search
    float: right
    width: 250px
    margin-right: -250px - $spacing

#main
  #content
    background: #ffffff
    +border-radius(0 0 $outside_border_radius $outside_border_radius)
    float: left
    margin-bottom: $spacing
    min-height: 21em // Keep it roughly higher than the sidebar on the Activity page
    width: $content_width
  #sidebar
    background: #efefff
    +border-radius(0 $outside_border_radius $outside_border_radius 0)
    float: right
    margin-top: -$spacing * 2
    width: 100 - $content_width

#footer
  +outside_content
  clear: both
  margin: $spacing
  text-align: center
